<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="lostandfound.fndroid.com.lostandfound">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104646053"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="自律会丢失记录">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".RegFoundActivity"
            android:label="同学拾获记录"/>
        <activity
            android:name=".RegLostActivity"
            android:label="同学丢失记录"/>
        <activity
            android:name=".AddLostActivity"
            android:label="丢失登记">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".ImageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ActivitiesWebView"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".FoundActivity"
            android:label="拾获物品列表"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SearchActivity"
            android:label="搜索"/>
        <activity
            android:name=".AddFoundActivity"
            android:label="挂失登记"/>
        <activity
            android:name=".FeedbackActivity"
            android:label="意见反馈"/>
        <activity
            android:name=".SettingActivity"
            android:label="设置"/>
        <activity
            android:name=".HomeActivity"
            android:label="广师失物招领">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LostActivity"
            android:label="失物列表">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SupportActivity"
            android:label="支持作者"/>

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process="cn.bmob.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>
        <service android:name=".TableListenerService"/>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>

        <!-- Bmob Pay start -->
        <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- Bmob Pay end -->
        <activity android:name=".GetcodeActivity">
        </activity>
        <activity android:name=".BrowserActivity">
        </activity>

        <activity android:name=".ShitActivity"/>

        <activity android:name=".ScannerActivity"/>
    </application>

</manifest>